#Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#Welcome > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Welcome .title-span {
  font-weight: 100;
  color: #e6ffef;
}