#render-container {
  position: relative;
  text-align: center;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#inputImg {
  max-width: 800px;
}

#FaceReco {
  height: 100%;
}

#render-container > div {
  margin: 50px;
  display: inline-block;
  position: relative;
}