/* do-hyeon-regular - latin */
@font-face {
  font-family: 'Do Hyeon';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/do-hyeon-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Do Hyeon Regular'), local('DoHyeon-Regular'),
       url('./assets/fonts/do-hyeon-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/do-hyeon-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/do-hyeon-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/do-hyeon-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/do-hyeon-v4-latin-regular.svg#DoHyeon') format('svg'); /* Legacy iOS */
}

* {
  font-family: 'Do Hyeon', sans-serif;
}

body {
  background-color: #3b322c;
  color: #94e8b4;
}

button {
  background-color: Transparent;
  padding: 10px;
  margin: 5px;
  color: #94e8b4;
  border: 2px solid #94e8b4;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}